/* Apply basic styling to the form elements */
.form-label, .fw-bolder {
  font-weight: bold;
}

.form-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* box-sizing: border-box; */
}

#myForm {
  /* Center the content horizontally */
  justify-content: center;
  align-items: center;
}
